* {
    box-sizing: border-box;
    background-color: #567895;
    margin: 10px auto;
}
/*начало колонок*/
.row {
    display: flex;
}

.column {
    flex: 80%;
    padding: 10px;
    height: 300px;
}
.sidebar {
    flex:20%;
    padding: 10px;
    height: 200px;
    text-align: left;
}
/*конец колонок*/

a:hover{
    color: green;
}

h1{
    font-style:italic;
    color: gold;
}
.btn-submit{
    color: red;
}

/*форма отзыва*/
.comment-wrap{
    max-height: 150px;
     overflow: hidden;
    background-color: green;
    overflow-y: scroll;
}
.form-comment{
   max-height: 150px;
    margin-bottom: 10px;
}
textarea {
    height: 100px;
    width: 500px;
    background-color: cornsilk;
}
simular-posts{
    background-color: green;
    max-height: 60px;
}
.sidebar-ul a{
    /*не работает*/
  color: #fffc30;
}