<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
{% extends "blog/base.html" %}

<!--подгружаем модуль тегов -->
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
{{ post.body|markdown }}

<!--Блок отправить на почту-->
<p>
    <a href="{% url 'blog:post_share' post.id %}">Share this post</a>
</p>

<!--Блок вывода статей по аналогичным тегам-->
<div class="simular-posts">
    <h2>Похожие статьи</h2>
    {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
    {% empty %}
       <span>Нет похожих статей</span>
    {% endfor %}
</div>

<!--кол-во комментариев-->
{% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
{% endwith %}


<!--текстовое описание комментариев-->
<div class="comment-wrap">
{% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
    </div>
{% empty %}
    <p>There are no comments yet.</p>
{% endfor %}
</div>

<!--отображение самих комментариев (форма)-->
{% if new_comment %}
    <h2>Your comment has been added.</h2>
{% else %}
    <h2>Add a new comment</h2>
    <form action="." method="post" class="form-comment">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
{% endif %}


{% endblock %}


</body>
</html>

