<!--подключаем свои теги-->
{% load blog_tags %}

{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
<div class="row">
    <div id="content" class="column">

        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar" class="column sidebar">
        <h2>Блог от Юричика:)</h2>
        <p>Это мой блог! Я уже написал {% total_posts %} постов)</p>
        <p>
            <a href="{% url 'blog:post_feed' %}">Подпишитесь на мою
                RSS-ленту</a></p>

        <h3>Мои последние статьи</h3>
        {% show_latest_posts 3 %}

        <h3>Самые комментируемые посты</h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
                {% for post in most_commented_posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
                {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>